.rect-wanbb {
	fill: #b0aa72;
}

.rect-cfe {
	fill: #6c9569;
}

.rect-exmst2 {
	fill: #2696d5;
}

.rect-mikro {
    fill: #a4413a;
}

.rect-utj {
    fill: #e3ce09;
}

.rect-convutj {
    fill: #b29802;
}

.rect-action {
	fill: #eea900;
}

.link {
	fill: none;
	stroke: #acacac;
	stroke-width: 1.5px;
}

.link.cfe,
.link.CFE1,
.link.CFE2 {
	stroke: #84b647;
}

.link.wanbb {
	stroke: #ee502a;
}

.link.convutj {
    stroke: #6c6e3e;
}

h4.list-group-item-heading {
    background: #a7dca2;
}

text.cfe {
    font-size: 12px;
    font-weight: bold;
    color: #fcfcfc;
    fill: #fcfcfc;
}

text.terms {
    font-size: 12px;
    font-weight: bold;
    color: #1c1b28;
    fill: #1c1b28;
}

text.opis {
    font-size: 11px;
    font-weight: bold;
    color: #7c7c64;
    fill: #7c7c64;
}

text.ip {
    font-size: 12px;
    font-weight: bold;
    color: #bd3c2a;
    fill: #bd3c2a;
}